{% extends 'base.html' %}
{% block main %}
<div class="pkp_structure_content has_sidebar">
	<div class="pkp_structure_main" role="main">
		<a id="pkp_content_main"></a>

		<nav class="cmp_breadcrumbs" role="navigation" aria-label="You are here:">
			<ol>
				<li>
					<li>
						<a href="{{ url_for('index') }}">
							Home
						</a>
					</li>
					<span class="separator">/</span>
				</li>
				<li class="current">
					<span aria-current="page">
						Aims &amp; Scope
					</span>
				</li>
			</ol>
		</nav>


		<h1 class="page_title">Aims &amp; Scope</h1>
		<div class="page">
			<p>The Ethiopian Journal of Health Development, as a scientific outlet of research work, aims to
				contribute to the advancement of science within the broad scope of public health.</p>
			<p>&nbsp;</p>
			<p>The Ethiopian Journal of Health Development is an interdisciplinary platform that publishes
				peer-reviewed manuscripts within the scope of public health. It is an academic, policy and
				program resource contributing to the well-being of the public and public health development
				agendas.</p>
			<p>&nbsp;</p>
			<p>The journal publishes manuscripts that fall within broader public health domains, including, but
				not limited to, infectious diseases, injuries, non-communicable diseases, public health methods,
				dental public health, digital health and health informatics, disaster and emergency preparedness
				and response, public health and medical education, environmental health, global health and human
				rights, health behavior and health promotion, determinants of health policies, systems and
				management, maternal and child health, mental health, nutritional health, occupational health,
				urban health, physical activity and health, one health. Besides, the journal accepts manuscripts
				from medicine, veterinary medicine, basic sciences, nursing, laboratory, pharmacy, the social
				sciences and humanities, as long as linkages with public health is clearer.</p>
		</div>

	</div><!-- pkp_structure_main -->

	<div class="pkp_structure_sidebar left" role="complementary" aria-label="Sidebar">
		<div class="pkp_block block_make_submission">
			<h2 class="pkp_screen_reader">
				Make a Submission
			</h2>

		</div>

	</div><!-- pkp_sidebar.left -->
</div><!-- pkp_structure_content -->

{% endblock main %}