{% extends 'base.html' %}
{% block main %}

<div class="pkp_structure_content has_sidebar">
	<div class="pkp_structure_main" role="main">
		<a id="pkp_content_main"></a>

		<div class="page page_announcements">
			<nav class="cmp_breadcrumbs" role="navigation" aria-label="You are here:">
				<ol>
					<li>
						<a href="{{ url_for('index') }}">
							Home
						</a>
						<span class="separator">/</span>
					</li>
					<li class="current">
						<span aria-current="page">
							Announcements
						</span>
					</li>
				</ol>
			</nav>

			<h1>
				Announcements
			</h1>

			<p><object data="https://who.sprinklr.com/" type="text/html" width="700" height="700">
					Alternative Content
				</object></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><object data="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/"
					type="text/html" width="700" height="700">
					Alternative Content
				</object></p>

			<ul class="cmp_announcements">
			</ul>
		</div><!-- .page -->

	</div><!-- pkp_structure_main -->

	<div class="pkp_structure_sidebar left" role="complementary" aria-label="Sidebar">
		<div class="pkp_block block_make_submission">
			<h2 class="pkp_screen_reader">
				Make a Submission
			</h2>
		</div>

	</div><!-- pkp_sidebar.left -->
</div><!-- pkp_structure_content -->

{% endblock main %}