{% extends 'base.html' %}
{% block main %}

<div class="pkp_structure_content has_sidebar">
	<div class="pkp_structure_main" role="main">
		<a id="pkp_content_main"></a>

		<div class="page page_issue">

			<nav class="cmp_breadcrumbs" role="navigation" aria-label="You are here:">
				<ol>
					<li>
						<a href="{{ url_for('index') }}">
							Home
						</a>
						<span class="separator">/</span>
					</li>
					<li>
						<a href="{{ url_for('archive') }}">
							Archives
						</a>
						<span class="separator">/</span>
					</li>
					<li class="current" aria-current="page">
						<span aria-current="page">
							{{ info_cat.name }}
						</span>
					</li>
				</ol>
			</nav>
			<h1>
				{{ info_cat.name }}
			</h1>
			<div class="obj_issue_toc">


				<div class="heading">



					<div class="pub_id doi">
						<span class="type">
							DOI:
						</span>
						<span class="id">
							<a href="{{ url }}">
								{{ url }}
							</a>
						</span>
					</div>

					<div class="published">
						<span class="label">
							Published:
						</span>
						<span class="value">
							{% if info_cat %}{{ info_cat.published_date.strftime('%Y-%m-%d') }}{% endif %}
						</span>
					</div>
				</div>


				<div class="sections">
					<!-- not special issue -->
					{% if simple and not info_cat.special %}
					<div class="section">
						<h2>
							Original Articles
						</h2>
						<ul class="cmp_article_list articles">
							{% for i in simple %}
							<li>
								<div class="obj_article_summary">
									<div class="title">
										<a id="article-5378"
											href="#">
											{{ i.text }}
										</a>
									</div>
									<div class="meta">
										<div class="authors">
											<i class="fa fa-users green" aria-hidden="true"></i> 
											{{ i.author }}
										</div>
									</div>
									<div class="tocreadcount">
										<span></span> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
											Abstract views:</span> <span><strong>{{ i.views }}</strong></span>
									</div>
									<div class="item doi">
									</div>
									<ul class="galleys_links">
										<li>
											<a class="obj_galley_link pdf"
												href="{{ url_for('main.static', filename='file/' + i.file) }}", target="_blank">

												PDF

											</a>
										</li>
									</ul>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				
					<!-- end of the not special issue  -->
					{% else %}
						<!-- SPECIAL ISSUES  -->
						{% if simple %}
						<div class="section">
							<ul class="cmp_article_list articles">
								{% for i in simple %}
								<li>
									<div class="obj_article_summary">
										<div class="title">
											<a id="article-5378"
												href="#">
												{{ i.text }}
											</a>
										</div>
										<div class="meta">
											<div class="authors">
												<i class="fa fa-users green" aria-hidden="true"></i> 
												{{ i.author }}
											</div>
										</div>
										<div class="tocreadcount">
											<span></span> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
												Abstract views:</span> <span><strong>{{ i.views }}</strong></span>
										</div>
										<div class="item doi">
										</div>
										<ul class="galleys_links">
											<li>
												<a class="obj_galley_link pdf"
													href="{{ url_for('main.static', filename='file/' + i.file) }}", target="_blank">

													PDF

												</a>
											</li>
										</ul>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}

						{% if editional %}
						<div class="section">
							<h2>
								Editorial
							</h2>
							<ul class="cmp_article_list articles">
								{% for i in editional %}
								<li>
									<div class="obj_article_summary">
										<div class="title">
											<a id="article-5378"
												href="#">
												{{ i.text }}
											</a>
										</div>
										<div class="meta">
											<div class="authors">
												<i class="fa fa-users green" aria-hidden="true"></i> 
												{{ i.author }}
											</div>
										</div>
										<div class="tocreadcount">
											<span></span> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
												Abstract views:</span> <span><strong>{{ i.views }}</strong></span>
										</div>
										<div class="item doi">
										</div>
										<ul class="galleys_links">
											<li>
												<a class="obj_galley_link pdf"
													href="{{ url_for('main.static', filename='file/' + i.file) }}", target="_blank">

													PDF

												</a>
											</li>
										</ul>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}

						{% if special %}
						<div class="section">
							<h2>
								Special Issue
							</h2>
							<ul class="cmp_article_list articles">
								{% for i in special %}
								<li>
									<div class="obj_article_summary">
										<div class="title">
											<a id="article-5378"
												href="#">
												{{ i.text }}
											</a>
										</div>
										<div class="meta">
											<div class="authors">
												<i class="fa fa-users green" aria-hidden="true"></i> 
												{{ i.author }}
											</div>
										</div>
										<div class="tocreadcount">
											<span></span> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
												Abstract views:</span> <span><strong>{{ i.views }}</strong></span>
										</div>
										<div class="item doi">
										</div>
										<ul class="galleys_links">
											<li>
												<a class="obj_galley_link pdf"
													href="{{ url_for('main.static', filename='file/' + i.file) }}", target="_blank">

													PDF

												</a>
											</li>
										</ul>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}

					{% endif %}
				</div><!-- .sections -->
			</div>
		</div>

	</div><!-- pkp_structure_main -->

	<div class="pkp_structure_sidebar left" role="complementary" aria-label="Sidebar">
		<div class="pkp_block block_make_submission">
			<h2 class="pkp_screen_reader">
				Make a Submission
			</h2>

		</div>

	</div><!-- pkp_sidebar.left -->
</div><!-- pkp_structure_content -->

{% endblock main %}